`Data-Preprocessing`--> It is a Technic by using which we can transform the raw data into a processed data.

`What is Normalization in Machine Learning?`
* Normalization is nothing but it is a transformation techniq where we transform the scales
* Normalization only going to apply feature variable (xi) independent
* Normalization is done column wise
* After applyaing normalization our data points will be between 0 & 1.
* Then all data convert in same scale.
* Geometrically Normalization looks like bounding box

`What is Standerdization in Machine Learning?`
* Standerdization is also transformation technic by using which we can transform the data such that a mean will be 
equal to 0 & satandard daviation will be 1.

#### Standerdization & Normalization

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import random as rd
import scipy.stats as ss
import scipy as s


import warnings
import re

warnings.filterwarnings("ignore")

In [2]:
from sklearn.preprocessing import MinMaxScaler,StandardScaler

In [3]:
x=np.arange(1,100)

In [4]:
data=pd.DataFrame(x)

In [5]:
mi=MinMaxScaler()

In [6]:
mi.fit_transform(data[[0]])

array([[0.        ],
       [0.01020408],
       [0.02040816],
       [0.03061224],
       [0.04081633],
       [0.05102041],
       [0.06122449],
       [0.07142857],
       [0.08163265],
       [0.09183673],
       [0.10204082],
       [0.1122449 ],
       [0.12244898],
       [0.13265306],
       [0.14285714],
       [0.15306122],
       [0.16326531],
       [0.17346939],
       [0.18367347],
       [0.19387755],
       [0.20408163],
       [0.21428571],
       [0.2244898 ],
       [0.23469388],
       [0.24489796],
       [0.25510204],
       [0.26530612],
       [0.2755102 ],
       [0.28571429],
       [0.29591837],
       [0.30612245],
       [0.31632653],
       [0.32653061],
       [0.33673469],
       [0.34693878],
       [0.35714286],
       [0.36734694],
       [0.37755102],
       [0.3877551 ],
       [0.39795918],
       [0.40816327],
       [0.41836735],
       [0.42857143],
       [0.43877551],
       [0.44897959],
       [0.45918367],
       [0.46938776],
       [0.47959184],
       [0.48979592],
       [0.5       ],
       [0.51020408],
       [0.52040816],
       [0.53061224],
       [0.54081633],
       [0.55102041],
       [0.56122449],
       [0.57142857],
       [0.58163265],
       [0.59183673],
       [0.60204082],
       [0.6122449 ],
       [0.62244898],
       [0.63265306],
       [0.64285714],
       [0.65306122],
       [0.66326531],
       [0.67346939],
       [0.68367347],
       [0.69387755],
       [0.70408163],
       [0.71428571],
       [0.7244898 ],
       [0.73469388],
       [0.74489796],
       [0.75510204],
       [0.76530612],
       [0.7755102 ],
       [0.78571429],
       [0.79591837],
       [0.80612245],
       [0.81632653],
       [0.82653061],
       [0.83673469],
       [0.84693878],
       [0.85714286],
       [0.86734694],
       [0.87755102],
       [0.8877551 ],
       [0.89795918],
       [0.90816327],
       [0.91836735],
       [0.92857143],
       [0.93877551],
       [0.94897959],
       [0.95918367],
       [0.96938776],
       [0.97959184],
       [0.98979592],
       [1.        ]])

In [7]:
td=mi.fit_transform(data[[0]])

In [8]:
pd.DataFrame(td)

           0
0   0.000000
1   0.010204
2   0.020408
3   0.030612
4   0.040816
..       ...
94  0.959184
95  0.969388
96  0.979592
97  0.989796
98  1.000000

[99 rows x 1 columns]

In [9]:
std=StandardScaler() #----> Standerdization

In [10]:
new_d=std.fit_transform(data[[0]])

In [11]:
np.mean(new_d)

-2.0185873175002847e-17

In [12]:
np.std(new_d)

0.9999999999999999

In [13]:
data1=pd.read_csv(r"D:\Data Sets\house_price_full.csv")

In [14]:
data1

     bedrooms  sqft_living    price
0           3         1340   313000
1           5         3650  2384000
2           3         1930   342000
3           3         2000   420000
4           4         1940   550000
..        ...          ...      ...
494         4         3040   647000
495         5         4530   950000
496         3         1370   185000
497         3         1940   335000
498         3         1040   210000

[499 rows x 3 columns]

In [15]:
mi=MinMaxScaler() #----> normalization

In [16]:
pd.DataFrame(mi.fit_transform(data1[["sqft_living","price"]]))

            0         1
0    0.048362  0.068710
1    0.228549  0.736774
2    0.094384  0.078065
3    0.099844  0.103226
4    0.095164  0.145161
..        ...       ...
494  0.180967  0.176452
495  0.297192  0.274194
496  0.050702  0.027419
497  0.095164  0.075806
498  0.024961  0.035484

[499 rows x 2 columns]

In [ ]:
ðŸ¤ž